header {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  color: white;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  z-index: 1000;
  display: flex;
}

.logo {
  height: 60px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
}


/*les boutons dans le head*/
  .btn-nav {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;          /* centre le texte verticalement */
  background-color: #595959;
  color: white;
  text-align: center;
  text-decoration: none;     /* enlève le soulignement du lien */
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s ease;
}

.btn-nav:hover {
  background-color: #444;
  transform: translateY(-2px);
}
/*Fin designe les boutons dans le head*/

 /*début CSS Recherche*/
.barre-recherche{
    display: flex;
    align-items: center;
    width: 400px;
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 8px 12px;
}

.barre-recherche input{
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
}

.barre-recherche button{
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}
 /*Fin CSS Recherche*/

.container_bouton_cnxn_creacompte {
  /*display: flex;*/
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
  /*border: 2px solid yellowgreen;*/
}

.box_titre {
  /*display: flex;*/
  flex: 1;
  justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  background: #FFC000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: height;
  list-style: none;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
}



.grande_box_espace_client {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
  border: 2px solid yellowgreen;
  gap: 20px;
}

.box_body_espace_client {

  /* chaque formulaire prend la moitié de l'espace disponible */
  display: flex;
  border: 5px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  gap: 20px;
}

.box_body_mes_commandes{
  flex: 2;
  border: 1px solid #ccc;
  padding: 20px;
  background: #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.box_body_mes_documents{
  flex: 2;
  border: 1px solid #ccc;
  padding: 20px;
  background: #E0E0E0;
  border-radius: 10px;
  box-sizing: border-box;
}


.box_body_mes_info{
  flex: 2;
  border: 1px solid #ccc;
  padding: 20px;
  background: #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.grand_box_formulaire-connexion {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid yellowgreen;
  gap: 20px;
}




.box_body {
  display: flex;
  /* Utilise Flexbox */
  min-height: 50px;
  border-radius: 10px;
  /*arrondir le bord */
  border: 2px solid #595959;
  /* La boîte possède une bordure solide de 10 pixels de large, de couleur noire (#000) */
  padding: 20px;
  /* Il y a un espace intérieur de 20 pixels entre le contenu et la bordure */
  justify-content: center;
  /* center les élement de la box*/
  margin: 20px;
  /* Il y a un espace extérieur de 20 pixels autour de la boîte, séparant cette boîte des autres éléments */
  gap: 20px;
  /* Espace entre les boîtes, optionnel */
}

/* la galerie pour afficher le photos de voiture */
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /*5 par ligne */
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


/* la carte qui entoure la photo de voiture */
.card {
  background: #FFC000;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  color: white;
}



/* Fin de la galerie pour afficher le photos de voiture */
.footer {
  background-color: #595959;
  borde-radius: 10px;
  padding: 10px;
  text-align: center;
  color: yellow;
  "

}