header {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  color: white;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  z-index: 1000;
  display: flex;
}

.logo {
  height: 60px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
}


/*les boutons dans le head*/
  .btn-nav {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;          /* centre le texte verticalement */
  background-color: #595959;
  color: white;
  text-align: center;
  text-decoration: none;     /* enlève le soulignement du lien */
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s ease;
}

.btn-nav:hover {
  background-color: #444;
  transform: translateY(-2px);
}
/*Fin designe les boutons dans le head*/

.container_bouton_cnxn_creacompte {
  /*display: flex;*/
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
  /*border: 2px solid yellowgreen;*/
}

.box_titre_formulaire_creacompte {
  /*display: flex;*/
  flex: 1;
  justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  background: #FFC000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  list-style: none;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
}

.grande_box_formulaire_cnxn_creacompte {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
  border: 2px solid yellowgreen;
  gap: 20px;
}

.box_body_formulaire_création_compte {
  flex: 1;
  /* chaque formulaire prend la moitié de l'espace disponible */
  display: flex;
  border: 5px solid #ccc;
  /* si vous souhaitez une bordure */
  padding: 10px;
  /* marges internes */
  box-sizing: border-box;
  /* pour inclure padding et border dans la largeur */
  gap: 20px;
  /* Espace entre les boîtes, optionnel */
}

.box_body_formulaire_création_compte_1 {
  flex: 1;
  /* chaque formulaire prend la moitié de l'espace disponible */
  border: 1px solid #ccc;
  /* si vous souhaitez une bordure */
  padding: 10px;
  /* marges internes */
  box-sizing: border-box;
  /* pour inclure padding et border dans la largeur */
  gap: 20px;
  /* Espace entre les boîtes, optionnel */
  border-radius: 10px;
  background: #E0E0E0;
}

.box_body_formulaire_création_compte_2 {
  /*flex: 1;  chaque formulaire prend la moitié de l'espace disponible */
  border: 1px solid #ccc;
  /* si vous souhaitez une bordure */
  padding: 10px;
  /* marges internes */
  box-sizing: border-box;
  /* pour inclure padding et border dans la largeur */
  gap: 20px;
  /* Espace entre les boîtes, optionnel */
  background: #FFC000;
  border-radius: 10px;
}

.grand_box_formulaire-connexion {
  display: flex;
  /* chaque formulaire prend la moitié de l'espace disponible */
  border: 1px solid #ccc;
  /* si vous souhaitez une bordure */
  padding: 10px;
  /* marges internes */
  box-sizing: border-box;
  /* pour inclure padding et border dans la largeur */
  border: 5px solid yellowgreen;
  gap: 20px;
}

.box_body_formulaire-connexion {
  flex: 1;
  /* chaque formulaire prend la moitié de l'espace disponible */
  display: flex;
  border: 1px solid #ccc;
  /* si vous souhaitez une bordure */
  padding: 10px;
  /* marges internes */
  box-sizing: border-box;
  /* pour inclure padding et border dans la largeur */
  gap: 20px;
  background: #E0E0E0;
  border-radius: 10px;
}

.box_body_formulaire-connexion_2 {
  flex: 1;
  /* chaque formulaire prend la moitié de l'espace disponible */
  display: flex;
  border: 1px solid #ccc;
  /* si vous souhaitez une bordure */
  padding: 10px;
  /* marges internes */
  box-sizing: border-box;
  /* pour inclure padding et border dans la largeur */
  background: #FFC000;
  border-radius: 10px;

}


.box_body {
  display: flex;
  /* Utilise Flexbox */
  min-height: 50px;
  border-radius: 10px;
  /*arrondir le bord */
  border: 2px solid #595959;
  /* La boîte possède une bordure solide de 10 pixels de large, de couleur noire (#000) */
  padding: 20px;
  /* Il y a un espace intérieur de 20 pixels entre le contenu et la bordure */
  justify-content: center;
  /* center les élement de la box*/
  margin: 20px;
  /* Il y a un espace extérieur de 20 pixels autour de la boîte, séparant cette boîte des autres éléments */
  gap: 20px;
  /* Espace entre les boîtes, optionnel */
}

/* la galerie pour afficher le photos de voiture */
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /*5 par ligne */
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


/* la carte qui entoure la photo de voiture */
.card {
  background: #FFC000;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  color: white;
}

.footer {
  background-color: #595959;
  borde-radius: 10px;
  padding: 10px;
  text-align: center;
  color: yellow;
  "

}